@{
    ViewBag.Title = "About Us";
}
<div style="height: 85vh;display: table; margin:0 auto;">
    <h2>@ViewBag.Title.</h2>
    <h3>OCR Project Team:</h3>
    <br /><br />
    <h4>Table footbal player formation:</h4>
    <br /><br />
    <h3 style="display:inline-block; width:500px;">1. Bojan Piskulic - CF (C)</h3>
    <img src="~/Uploads/IMG/Leonardo.jpg" style="width:150px; display:inline-block; border-radius:100px; border: solid 1px; " />
    <br />
    <br />
    <h3 style="display:inline-block; width:500px;">2. Nenad Pantelic - MDF</h3>
    <img src="~/Uploads/IMG/Donatelo.jpg" style="width:150px; display:inline-block; border-radius:100px; border: solid 1px; " />
    <br />
    <br />
    <h3 style="display:inline-block; width:500px;">3. Milos Arsic - CB</h3>
    <img src="~/Uploads/IMG/Rafael.jpg" style="width:150px; display:inline-block; border-radius:100px; border: solid 1px; " />
    <br />
    <br />
    <h3 style="display:inline-block; width:500px;">4. Milan Zdravkovic - GK</h3>
    <img src="~/Uploads/IMG/Mike.jpg" style="width:150px; display:inline-block; border-radius:100px;  border: solid 1px;" />
    <br /><br /><br />

</div>